<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <a routerLink="/home"><button mat-menu-item><mat-icon>home</mat-icon> Home</button></a>
    <a routerLink="/curriculum"><button mat-menu-item><mat-icon>book</mat-icon> Curriculum</button></a>

  </mat-menu>
  <span>Hi, Im Enrique</span>
  <span class="spacer"></span>
  <a mat-button href="https://github.com/enua" target="_blank"><mat-icon>face</mat-icon></a>
</mat-toolbar>
